<div class="damage-types-grid">
    <!-- No damage type display -->
    <p *ngIf="damageTypes?.length === 0 && !form">
        You don't have damage type yet. <a (click)="showForm()">Start creating one !</a>
    </p>
    <!-- Damage Type Form -->
    <app-damage-type-card-form
        *ngIf="form"
        [form]="form"
        [attributes]="attributes"
        (submitClicked)="createOrUpdateDamageType()"
        (cancelClicked)="hideForm()"
    ></app-damage-type-card-form>
    <!-- Existing Damage Type Cards -->
    <app-damage-type-card
        *ngFor="let damageType of damageTypes | notEditing: form?.value.id"
        [damageType]="damageType"
        (edit)="onEditDamageType(damageType)"
        (delete)="onDeleteDamageType(damageType)"
    ></app-damage-type-card>
</div>
<!-- Fab button to display the form -->
<div class="fab" (click)="showForm()" *ngIf="!form">+</div>
