<div class="card">
    <div class="card-header">
        <div class="icon lg">?</div>
        <div class="card-title">{{ attribute.name }}</div>
        <div
            class="attribute-chip lg"
            [ngClass]="{ 'vitality-source': attribute.isVitalitySource, 'power-source': attribute.isPowerSource }"
        ></div>
    </div>
    <div class="card-content">
        <div class="description">
            {{ attribute.description || 'No description yet.' }}
        </div>
        <div class="alterations-container">
            <div class="alteration" *ngFor="let alteration of attribute.alterations">
                <span
                    [ngClass]="{
                        'alteration-symbol-bonus': alteration.value > 0,
                        'alteration-symbol-malus': alteration.value < 0
                    }"
                ></span>
                <span style="font-size: 1rem;">{{
                    alteration.value < 0 ? alteration.value * -1 : alteration.value
                }}</span>
                <span style="margin-left: 0.5em;">{{ alteration.type }}</span>
                <b style="margin-left: 0.5em;">{{ alteration.property }}</b>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>
