.card {
    height: 250px;

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-content {
        .description {
            padding: 1em 1.3em;
        }
        .alterations-container {
        }
        .alteration {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            height: 3em;
            border-top: 2px solid var(--card-divider-color);
            width: 100%;
        }
        .alteration:last-child {
            border-bottom: 2px solid var(--card-divider-color);
        }
    }
}
