.card {
    .card-header {
        border-bottom: 2px solid var(--yankees-blue6);
    }

    .card-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        app-attribute-form {
            border-right: 2px solid var(--yankees-blue6);
        }
    }
}
