<div class="card graph-container">
    <div style="margin-top: 3em; text-align: center;">
        Graph with some cool informations about
        <span *ngIf="!equipmentQuality" style="font-weight: bold;">all equipments qualities.</span>
        <br />
        <span
            *ngIf="equipmentQuality"
            style="font-weight: bold; font-size: 1.4rem;"
            [ngStyle]="{ color: equipmentQuality.color }"
            >{{ equipmentQuality.name }}.</span
        >
    </div>

    <div class="graph"></div>
</div>
