.attribute-form-container {
    form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        font-size: 1rem;

        .form-name-description,
        .form-icon {
            padding: 1.5em;
        }
        .form-icon,
        .form-type {
            border-bottom: 2px solid var(--yankees-blue6);
        }

        .form-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 2px solid var(--yankees-blue6);

            .icon {
                font-size: 2.2rem;
            }
        }

        .form-type {
            display: grid;
            grid-template-columns: 2fr 1fr;
            .radio-container {
                display: flex;
                align-items: center;
                padding: 0.5em;
                border-right: 2px solid var(--yankees-blue6);
                &:not(:last-child) {
                    border-bottom: 2px solid var(--yankees-blue6);
                }
                label {
                    padding: 0.25em;
                }
            }

            .attribute-type-chip {
                justify-self: center;
                align-self: center;
                font-size: 2em;
                border: 2px solid var(--yankees-blue2);
                border-radius: 50px;
            }
        }

        .form-name-description {
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            flex-direction: column;
        }

        label {
            padding: 0 0.5em 0.5em 0.5em;
        }
    }
}
