<div class="card">
    <!-- Header -->
    <div class="card-header">
        <div class="icon lg">?</div>
        <div class="card-title">
            <span>{{ damageType.name }}</span>
            <app-popover-edit-delete
                (editClicked)="edit.emit()"
                (deleteClicked)="delete.emit()"
            ></app-popover-edit-delete>
        </div>
    </div>
    <!-- Content -->
    <div class="card-content">
        <!-- Attributes Affected -->
        <div class="affects-container">
            <div class="title">Affects</div>
            <div class="affect" *ngFor="let attribute of damageType.attributesAffected">
                <div
                    class="attribute-chip sm"
                    [ngClass]="{
                        'vitality-source': attribute.isVitalitySource,
                        'power-source': attribute.isPowerSource
                    }"
                ></div>
                {{ attribute.name }}
            </div>
        </div>
        <!-- Altered by -->
        <div class="altered-by-container">
            <div class="title">Altered by</div>
            <app-altered-by-row
                class="alteration"
                *ngFor="let alteration of damageType.alterations"
                [alteration]="alteration"
                fontSize="0.9"
            ></app-altered-by-row>
        </div>
    </div>
    <!-- content -->
</div>
<!-- card -->
