.card {
    min-height: 255px;
    border: 1px solid var(--color-light);
    justify-content: space-between;

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.75em;

        input {
            min-width: 30%;
        }

        .attribute-chip.lg {
            cursor: pointer;
            border: 1px solid var(--yankees-blue0);

            &:hover {
                border: 2px solid var(--yankees-blue0);
            }
        }

        .type-selector {
            z-index: 999;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            transform-origin: center center;
            transform: translateX(-50%);
            font-size: 1rem;
            width: 300px;
            height: 40px;
            position: absolute;
            top: -25px;
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid var(--color-light);
            border-radius: 5px;
            background: var(--yankees-blue6);
            &.show {
                opacity: 1;
            }
            .item {
                cursor: pointer;
                display: flex;
                align-items: center;
                &:hover {
                    font-weight: bold;
                    .attribute-chip {
                        border: 2px solid var(--yankees-blue2);
                    }
                }

                .attribute-chip {
                    margin-right: 0.5em;
                }
            }
        }
    }

    .card-content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        height: 100%;
        border-top: 2px solid var(--card-divider-color);

        .description {
            padding: 0.5em 2em;
            textarea {
                width: -webkit-fill-available;
            }
        }

        .alterations {
            border-left: 2px solid var(--card-divider-color);
            min-height: 113px;

            .alteration {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5em 1em;
                border-bottom: 2px solid var(--card-divider-color);

                select {
                    flex-grow: 2;
                }
                input {
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: center;
                    width: 3.5em;
                    padding: 0.67em;
                }
                fa-icon {
                    margin-left: 0.5em;
                }
            }
        }
    }
}
