.card {
    min-height: 255px;
    border: 1px solid var(--color-light);
    justify-content: space-between;

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.75em;

        input {
            min-width: 30%;
        }
    }

    .card-content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        height: 100%;
        border-top: 2px solid var(--card-divider-color);

        .description {
            padding: 0.5em 2em;
            textarea {
                width: -webkit-fill-available;
            }
        }

        .alterations {
            border-left: 2px solid var(--card-divider-color);
            min-height: 113px;

            .alteration {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5em 1em;
                border-bottom: 2px solid var(--card-divider-color);

                select {
                    flex-grow: 2;
                }
                input {
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: center;
                    width: 3.5em;
                    padding: 0.67em;
                }
                fa-icon {
                    margin-left: 0.5em;
                }
            }
        }
    }

    .card-actions {
        border-top: 2px solid var(--card-divider-color);
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        button:last-child {
            margin-left: 1em;
        }
    }
}
