<nav class="sidebar">
    <ul class="sidebar-nav">
        <li class="nav-item" routerLink="attributes" routerLinkActive="active">
            Attributes
        </li>
        <li class="nav-item" routerLink="damage-types" routerLinkActive="active">
            Damage Types
        </li>
        <li class="nav-item" routerLink="equipment-positions" routerLinkActive="active">
            Equipment Positions
        </li>
        <li class="nav-item" routerLink="equipment-qualities" routerLinkActive="active">
            Equipment Qualities
        </li>
        <li class="nav-item" routerLink="equipment-categories" routerLinkActive="active">
            Equipment Categories
        </li>
    </ul>
    <app-attribute-legend></app-attribute-legend>
</nav>
