body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg);
    color: var(--color);
}

main {
    padding: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* Themes */

.dark {
    --bg: var(--yankees-blue5);
    --bg-nav: var(--yankees-blue6);
    --color: var(--yankees-blue0);
}

:root {
    --yankees-blue0: #e9ebed;
    --yankees-blue1: #bec4ca;
    --yankees-blue2: #939da6;
    --yankees-blue3: #687683;
    --yankees-blue4: #3d4f60;
    --yankees-blue5: #13293d;
    --yankees-blue6: #102232;
}
