.alteration-form-container {
    .alteration-add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        padding: 1em;
        border-bottom: 2px solid var(--yankees-blue6);

        /* Add alteration icon */
        fa-icon {
            cursor: pointer;
            color: var(--green-success);
            margin-right: 1em;
            &:hover {
                color: var(--green-success-hover);
            }
        }
    }
    .no-alteration {
        padding: 1em;
    }
    .alteration {
        padding: 1em 1.5em;
        border-bottom: 2px solid var(--yankees-blue6);
    }
}

jw-modal {
    font-size: 1rem;
    .modal-header {
        padding: 2em;
        border-bottom: 2px solid var(--yankees-blue6);
    }
    .modal-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .alteration-type-property,
        .alteration-value {
            padding: 2em;
        }
        .alteration-type-property {
            border-right: 2px solid var(--yankees-blue6);
            div {
                display: flex;
                flex-direction: column;
                label {
                    padding-left: 0.5em;
                }

                select {
                    margin: 0.5em 0;
                }
                &:last-child {
                    margin-top: 0.5em;
                }
            }
        }
        .alteration-value {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            input {
                font-size: 1.5rem;
                width: 3em;
                height: 2em;
                text-align: center;
                padding: 0.5em;
            }
        }
    }
    .modal-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1em;
        border-top: 2px solid var(--yankees-blue6);
        button:last-child {
            margin-left: 1em;
        }
    }
}
